# Numbers in Python

We are starting to learn Python programming language at this section. We need to learn Python in a good way. First of all, we need to learn data types and data structures.  

Let's start to our adventure by learning numbers.

We'll learn below topics in this section:

        1. Integer and Float Data types
        2. Basic Arithmetic Operations 
        3. Defining variable
         


### Integer Numbers

The numbers (negative, positive) that we have seen in the math are data types in Python.


For instance, the numbers like -4835,13,0,-2 are defined as integer numbers in Python.

### Floating Numbers

Like integers, decimal numbers are also number types in math. Decimal numbers are also data types in Python. Decimal numbers or Floating numbers in other word. We will call floating to those numbers during the course.

For instance, the numbers like 3.14, 8.828591, -42.51 are defined as floating numbers in Python.

Let's learn Basic Arithmetic Operations in Python

### Basic Arithmetic Operations
We all know simple 4 operations( Summation, Substraction, Multiplication, Division) from math. And now , we will se how we do those operations.

In [1]:
# Summation
5 + 7

12

In [2]:
# Substraction
7 - 12

-5

In [3]:
# Multiplication
14 * 8

112

In [4]:
# Divison
10/2

5.0

We have seen basic operations until now. You could get confused at the divison opeator.Why we get floating result in integer divison? We will see those in **Matematical Operations** sections.

We have learn basic operations. Let's see now how to define variable.
### Variables and defining variables

Variables are essential concept in programming languages. Variables are holding value from the data types. Let's create variable in Python

In [5]:
# Variable name and Variable's value
i =  12

Cool! We have created our variable. Let's now print the value of variable.

In [6]:
i

12

Value has printed as **12**. So, what will happen if we do following operation?

In [7]:
i * i *i

1728

Result has been showed as third power of the variable. Now, let's change variable value. For to do that, we need to assign our new value with **=** operator.

In [8]:
i = 20
i

20

Let's try to create 3 different variable.

In [9]:
a = 3
b = 4
c = a  + 5*b

What will be value of **c** variable in here? This operation firstly calculating right side of the **=** operands values and then assign the new value to **c** variable.

In [10]:
c

23

It's just that simple! Lastly, we need to pay attention when we are giving name to our variables.

            1. Variables name cannot start with numbers.
            2. If variable names being by words, there cannot be white space between words.
            3. :'",<>/?|\()!@#$%^&*~-+ Those symbols cannot be used as variable name.(Except _ (underscore symbol)
            4. The reserved key words in python cannot be used as variable name.(while, not etc. )

In [11]:
# False
i/ = 9

SyntaxError: invalid syntax (<ipython-input-11-ae2440d898ca>, line 2)

In [12]:
# True
_i = 2

Son olarak öğrendiklerimizle ilgili bir kaç işlem yapalım. Sonuçlara bakmadan işlemlerin sonucunu tahmin etmeye çalışın.

Lastly, let's do some of the operations that we have seen until now. Try to predict results of the operations without checking results.

In [13]:
pi_number = 3.14
diameter = 2
circumference = pi_number * diameter

In [14]:
circumference

6.28

There is a shortcut way between changing two variables value.

In [15]:
a = 4
b = 9

In [16]:
a,b = b,a

In [17]:
a

9

In [18]:
b

4

There is shortcut way to increase the value of number in Python. Let's check below code.

In [19]:
a = 2
a = a + 5
a

7

We can write **a = a + 5** operations as **a += 5** in Python.

In [20]:
a = 13
a += 3 #  Same thing with a = a + 5 ile aynı şey.
a

16

In [21]:
b = 10

b -= 2  # b =  b - 2
b

8

In [22]:
b = 12
b *= 4
b

48

### Comment Lines

Comment lines are lines that we add for explanations. Those lines do not interpret by Python if used.

In [23]:
# Single Comment Line
print("Python")

Python

In [24]:
"""
Multi Comment Line

"""
print("Python")

Python

That's all! In the next section, we will see more comprehensive operations.