# Mathematical Operations

We will see mats operations.

### Summation (+)

Summation operator performs as below.

In [1]:
a = 13
b = 14
a + b

27

In [2]:
i =  3.7
j  = 6.1
i+j

9.8

### Substraction (-)

Substraction operator performs as below.

In [3]:
a =  45
b = 23
c = 45
a-b-c

-23

In [4]:
t = -8
y = 5
t-y

-13

In [5]:
k = 3.1
l = 5.8
k -l

-2.6999999999999997

### Multiplication (*)

Substraction operator performs as below.

In [6]:
a = 2
b = 12
a *b

24

In [7]:
i = 6.34
j = 9.8
i *j

62.132000000000005

In [8]:
a = 3
b = 4
c = 5
a *b *c

60

In [9]:
a = 3 
b = 3.14
a *b

9.42

### Division (/)

Division operator performs as below.

In [10]:
4 / 2

2.0

In [11]:
11 / 4

2.75

In [12]:
22 / 9

2.4444444444444446

In here, we expected the result of **4/2** as **2** but it return as **2.0** float. This feature has been added in Python 3 for more accuracy results.

### Integer Division (//)

Integer division performs as below.

In [13]:
8 // 4

2

In [14]:
13 // 4

3

In [15]:
26 // 7

3

In [16]:
40 // 10

4

### Remainder (%)

Remainder operator performs as below.

In [17]:
13 % 4

1

In [18]:
120 % 2

0

In [19]:
330 % 120

90

### Exponential (**)

Exponential operator performs as below.

In [20]:
# 5^3
5 ** 3

125

In [21]:
2 ** 4

16

In [22]:
10.3 ** 3

1092.7270000000003

In [23]:
# Square root of 64 
64 ** 0.5

8.0

### Changing sign  (-)

Sometimes, we need to change sign of the operator.

In [24]:
a = 2
-a

-2

In [25]:
b = -5
-b

5

## Operator precedence

    1. Paranthesis numbers calculate first.
    2. Multiplication and Division operators calculate firstly and then Summation and Substraction operators calculate.
    3. Operations order calculate from left to right.

In [26]:
8 + 4 * 3 /2 - 18

-4.0

In [27]:
# If we are confusing we can use paranthesis.

8 + ((4 * 3) /2) - 18

-4.0

That's all for mathematical operations!

In next section, We will learn strings.