In [1]:
a = True
print(type(a))

<class 'bool'>

In [3]:
b = False
print(type(b))

<class 'bool'>

In [4]:
bool(12.4)

True

In [5]:
bool(0.0)

False

In [6]:
bool(121212)

True

In [7]:
1 > 2

False

In [8]:
a = None
print(a)

None

In [9]:
a = 4
print(a)

4

In [10]:
print(a)

4

In [11]:
1 < 2 and "Han" == "Han"

True

In [12]:
2 > 3 and "Han" == "Han"

False

In [13]:
2 > 3 or "Murat" != "Murat" or 3.14 < 4.32

True

In [14]:
not 2 == 2

False

In [15]:
not 2 != 2

True

In [28]:
"Araba" < "Zula"

True

In [29]:
"Bebek" < "Ã‡ocuk"

True

In [30]:
num = int(input("Number:"))

if num < 0:
    print("Inputted number is negative!")
elif num == 0:
    print("Input is zero")
else:
    print("Inputted number is positive")

Number:3
Inputted number is positive

In [36]:
list = [1,2,3,4,5,6,7]

for element in list:
    print("Element", element)

Element 1
Element 2
Element 3
Element 4
Element 5
Element 6
Element 7

In [37]:
list = [1,2,3,4,5,6,7]
sum = 0
for element in list:
    sum += element
print("Sum",sum)

Sum 28

In [33]:
list = [1,2,3,4,5,6,7,8,9]

for element in list:
    if element % 2 ==0:
        print(element)

2
4
6
8

In [38]:
str = "Python"
for char in str:
    print(char)

P
y
t
h
o
n

In [39]:
str = "Python"
for char in str:
    print(char * 3)

PPP
yyy
ttt
hhh
ooo
nnn

In [48]:
tuple = (1,2,3,4,5,6,7)

for element in tuple:
    print(element)

1
2
3
4
5
6
7

In [49]:
list = [(1,2),(3,4),(5,6),(7,8)]

for element in list:
    print(element)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [50]:
list = [(1,2),(3,4),(5,6),(7,8)]

for(i,j) in list:
    print(i,j)

1 2
3 4
5 6
7 8

In [51]:
array = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]

for(i,j,k) in array:
    print(i * j * k)

6
120
504
1320

In [52]:
dict = {"one":1,"two":2,"three":3,"four":4}

dict.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [56]:
dict.values()

dict_values([1, 2, 3, 4])

In [57]:
dict.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

In [58]:
dict = {"one":1,"two":2,"three":3,"four":4}

for element in dict:
    print(element)

one
two
three
four

In [67]:
dict = {"one":1,"two":2,"three":3,"four":4}

for element in dict.values():
    print(element)

1
2
3
4

In [70]:
dict = {"one":1,"two":2,"three":3,"four":4}

for (i,j) in dict.items():
    print("Key:",i,"Value:",j)

Key: one Value: 1
Key: two Value: 2
Key: three Value: 3
Key: four Value: 4

In [71]:
i = 0

while (i < 10):
    print("value of i",i)
    i+=1

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [72]:
i = 0 

while (i < 20):
    print("value of i",i)
    i+=2

value of i 0
value of i 2
value of i 4
value of i 6
value of i 8
value of i 10
value of i 12
value of i 14
value of i 16
value of i 18

In [73]:
i = 0

while (i < 40):
    print("Python")
    i+=1

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [76]:
array = [1,2,3,4,5]

a = 0

while(a <len(array)):
    print("Index:",a,"Element:",array[a])
    a +=1

Index: 0 Element: 1
Index: 1 Element: 2
Index: 2 Element: 3
Index: 3 Element: 4
Index: 4 Element: 5

In [77]:
range(0,20)

range(0, 20)

In [78]:
print(*range(0,20))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [83]:
liste = list(*range(0,20))

TypeError: 'list' object is not callable

In [84]:
liste

NameError: name 'liste' is not defined

In [85]:
print(*range(5,10))

5 6 7 8 9

In [86]:
print(*range(0,100))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [87]:
print(*range(15))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [88]:
print(*range(5,20,2))

5 7 9 11 13 15 17 19

In [89]:
print(*range(5,100,5))

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [90]:
print(*range(20,0,-1))

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [91]:
for number in range(0,10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [92]:
for number in range(0,20):
    print("* " * number)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [93]:
i = 0
while(i<20):
    print(i)
    if(i==10):
        break
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [94]:
array = [1,2,3,4,5,6,7,8,9]

for i in array:
    if(i == 5):
        break
    print(i)

1
2
3
4

In [95]:
while True:
    name = input("Name(Press Q for log out.):")
    if(name == "q" or name == "Q"):
        print("Exitted")
        break
    print(name)

Name(Press Q for log out.):a
a
Name(Press Q for log out.):a
a
Name(Press Q for log out.):a
a
Name(Press Q for log out.):q
Exitted

In [96]:
array = [1,2,3,4,5,6,7,8,9]

for i in array:
    if(i == 3 or i == 5):
        continue
    print("i:",i)

i: 1
i: 2
i: 4
i: 6
i: 7
i: 8
i: 9

In [97]:
i = 0 

while(i < 10):
    if(i == 2):
        i += 1
        continue
    print("i:",i)
    i +=1

i: 0
i: 1
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [7]:
array = [1,2,3,4]
array.append(5)

In [8]:
array

[1, 2, 3, 4, 5]

In [9]:
array.remove(5)

In [12]:
array

[1, 2, 3, 4]

In [13]:
array.insert(0,0)

In [15]:
array

[0, 1, 2, 3, 4]

In [16]:
array.insert(len(array),8)

In [18]:
array

[0, 1, 2, 3, 4, 8]

In [19]:
len(array)

6

In [21]:
array.pop(0)

1

In [23]:
array

[2, 3, 4, 8]

In [24]:
array.pop(len(array)-len(array))

2

In [25]:
array

[3, 4, 8]

In [11]:
array1 = [1,2,3,4,5]

In [115]:
array2 = []

In [116]:
array2

[]

In [109]:
for i in array1:
    array2.append(i)

In [117]:
print(array2)

[]

In [118]:
array1

[1, 2, 3, 4, 5]

In [119]:
array2 = [i for i in array1]
print(array2)

[1, 2, 3, 4, 5]

In [120]:
array2 = [i * 2 for i in array1]
print(array2)

[2, 4, 6, 8, 10]

In [121]:
array1 = [(1,2),(3,4),(5,6)]
array2 = [i*j for (i,j) in array1]
print(array2)

[2, 12, 30]

In [122]:
array1 = [1,2,3,4,5,6,7,8,9,10]
array2 = [i for i in array1 if not (i == 4 or i == 9)]
print(array2)

[1, 2, 3, 5, 6, 7, 8, 10]

In [123]:
s = "Python"
array = [i * 3 for i in s]
print(array)

['PPP', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']

In [132]:
array = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13,14,15]]
array2 = []
for i in array:
    print(i)

[1, 2, 3]
[4, 5, 6, 7, 8]
[9, 10, 11, 12, 13, 14, 15]

In [133]:
array = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13,14,15]]
array2 = []
for i in array:
    for x in i :
        array2.append(x)
print(array2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
array

In [ ]:
array2 = [x for i in array for x in i]
print(array2)