In [1]:
x = {1,2,3}

In [2]:
type(x)

set

In [3]:
x = set()

In [4]:
type(x)

set

In [5]:
List = [1,2,3,3,1,1,2,2,2]

In [7]:
x = set(List)

In [8]:
x

{1, 2, 3}

In [9]:
x = set("Python Programming Language")

In [10]:
x

{' ', 'L', 'P', 'a', 'e', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 't', 'u', 'y'}

In [11]:
x = {"Python","Php","Python"}

In [12]:
x

{'Php', 'Python'}

In [13]:
x = {"Apple", "Pear", "Cherry", "Banana"}

In [14]:
for i in x:
    print(i)

Apple
Pear
Banana
Cherry

In [20]:
x = {"Python", "Javascript", "Java", "Php"}

In [21]:
x[0]

TypeError: 'set' object is not subscriptable

In [22]:
x["Python"]

TypeError: 'set' object is not subscriptable

In [23]:
List = list(x)

In [24]:
for i in List:
    print(i)

Java
Python
Php
Javascript

In [25]:
x = {1,2,3,4,5}

In [26]:
x.add(6)

In [27]:
x

{1, 2, 3, 4, 5, 6}

In [28]:
x.add(4)

In [29]:
x

{1, 2, 3, 4, 5, 6}

In [30]:
set1 = {1,2,3,10,34,100,-2}
set2 = {1,2,23,34,-1}

In [31]:
set1.difference(set2)

{-2, 3, 10, 100}

In [32]:
set2.difference(set1)

{-1, 23}

In [34]:
set1

{-2, 1, 2, 3, 10, 34, 100}

In [35]:

set2

{-1, 1, 2, 23, 34}

In [37]:
set1.difference_update(set2)

In [38]:
set1

{-2, 3, 10, 100}

In [39]:
x = {1,2,3,4,5,6}

In [41]:
x.discard(2)

In [42]:
x

{1, 3, 4, 5, 6}

In [43]:
x.discard(100)

In [44]:
x

{1, 3, 4, 5, 6}

In [45]:
set1 = {1,2,3,10,34,100,-2}
set2 = {1,2,23,34,-1}

In [46]:
set1.intersection(set2)

{1, 2, 34}

In [47]:
set1

{-2, 1, 2, 3, 10, 34, 100}

In [48]:
set2

{-1, 1, 2, 23, 34}

In [49]:
set1.intersection_update(set2)

In [50]:
set1

{1, 2, 34}

In [51]:
set1 = {1,2,3,10,34,100,-2}
set2 = {1,2,23,34,-1}
set3 = {30,40,50}

In [52]:
set1.isdisjoint(set2)

False

In [53]:
set1.isdisjoint(set3)

True

In [56]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set3= {5,6,7}

In [57]:
set1.issubset(set2)

True

In [58]:
set1.issubset(set3)

False

In [59]:
set1 = {1,2,3,10,34,100,-2}
set2 = {1,2,23,34,-1}

In [60]:
set1.union(set2)

{-2, -1, 1, 2, 3, 10, 23, 34, 100}

In [61]:
set1.update(set2)

In [62]:
set1

{-2, -1, 1, 2, 3, 10, 23, 34, 100}